<div class="row">
  <app-peg [disabled]="guessMade" [(color)]="guess.first"></app-peg>
  <app-peg [disabled]="guessMade" [(color)]="guess.second"></app-peg>
  <app-peg [disabled]="guessMade" [(color)]="guess.third"></app-peg>
  <app-peg [disabled]="guessMade" [(color)]="guess.fourth"></app-peg>
  <button *ngIf="!guessMade"
          (click)="makeGuess()"
          [disabled]="!guess.isValid()">Guess</button>
  <div *ngIf="guessMade">
    <ul>
      <li *ngFor="let r of guess.result">{{ r }}</li>
    </ul>
  </div>
</div>
